<nav class="navbar navbar-option-1 navbar-expand-lg sticky-top">
  <div class="container">
    <a class="navbar-brand" href="/">
      <span class="navbar-brand-text">Boster</span>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto align-items-lg-center">

        <li class="nav-item">
          <a class="nav-link active" href="/events">Events</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/community">Community</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/calendar">Calendar</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/membership">Join</a>
        </li>

        <li class="nav-item ms-lg-3">
          <a class="btn btn-sm btn-search" href="/search" aria-label="Search">
            <svg width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
              <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
            </svg>
          </a>
        </li>

        <li class="nav-item ms-lg-2">
          <a class="btn btn-primary btn-sm" href="/programs/host-event">
            Host Event
          </a>
        </li>

      </ul>
    </div>
  </div>
</nav>
